
<h3>You cann not save a empty list!</h3>
<hr />
<div class="row">
    <div class="col-md-12">
        Please add meetings to list and try save again!
    </div>
</div>

<div>
    <p></p>
    <a asp-action="Index">Back to List</a>
</div>