
@{
    ViewData["Title"] = "Save";
}

<h3>You saved the list correctly!</h3>
<hr />
<div class="row">
    <div class="col-md-12">
       You can find meeting list on your desktop in "MeetingList.csv" file.
    </div>
</div>

<div>
    <p></p>
    <a asp-action="Index">Back to List</a>
</div>
